<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"    
				xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>About - Santa's Knights</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		    		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a th:href="@{/}">EQUISYM</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/}">About Us</a></li>
					<li><a th:href="@{/}">Our Gallery</a></li>
					<li><a th:href="@{partnersInfo}">Santa's Knights</a></li>
					<li><a th:href="@{/conductUs}">Contact Us</a></li>
					<li><a href="https://www.santasknights.org/membership">Donate</a></li>
					<li><a href="login">Login & Registration</a></li>
					<!-- <li><a href="elements.html">EEEE Us</a></li> -->
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Santa's Knights</h2>
						<p>The Gift Of Martial Arts</p>
					</header>
					<hr>
					
					<b>Santa's Knights:</b>
					<p><b>Letters to Santa:</b>  Every year Santa's Knights has hundreds of underprivileged children write letters to Santa. Most of the children are from Harlem, NYC, in one of the many (low-income) housing communities that we serve. <br> We are open to children from other communities as well! If you have a child in need, please reach out to us by clicking on the "Write a letter" link below and we will try our best to provide a gift! <br> If you would like to adopt a letter this year, please click on the below "Adopt a letter" link and find a letter that you would like to adopt and let us know! All help is welcome! <br> Not only do we provide gifts for those that write letters, our purpose is to then introduce the child to our free martial arts and fitness program that they can then be part of for life! It is the gift that has continual impact on the children's lives throughout the rest of the year!</p>
					<b><a href="https://www.santasknights.org/">SANTA KNIGHTS OFFICIAL: https://www.santasknights.org/</a></b>
					<a href="#" class="image unfit"><img src="./img/santa.webp" alt="" /></a>
					<hr>
					
					<p>&#9650;  Santa's Knights' mission is to also bring 100% free martial arts, fitness, and activities to everyone, across NYC, and eventually across the U.S., and hopefully the world. Please help us in our mission, as we'll need all the help we can get every step of the way! One of the surest ways to a happy life is to have a healthy and fit one. There is no reason why we can't uplift everyone to reach their best potential and healthiest self with our free programs, that don't lose any quality just because they're free! We aim for the classes to be just as good as the high-cost classes you could find elsewhere! But we need volunteers, instructors, students, and resources in every form possible to make this happen! Please get involved in the best way that you are able! We can surely use your help! Thank you!.</p>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.facebook.com/profile.php?id=100047534537876" class="fa fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="https://twitter.com/primith11?ref_src=twsrc%5Etfw" class="fa fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<!-- <li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li> -->
						<li><a href="https://www.linkedin.com/in/primithgroup" class="fa fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; 2015-2021 by Santa's Knights, Inc.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>