@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	background:url(../img/slotimage.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
	background-attachment:fixed;
}

.contactUs{
	position: absolute;
	width: 100%;
	padding: 40px 100px;
	
}

.contactUs .title{
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	
}

.contactUs .title h2{
	color: rgb(255, 255, 255);
	font-weight: 500;
}

.form{
	grid-area: form;
	border-radius:30px;
}

.info{
	grid-area: info;
}

.map{
	grid-area: map;
  border-radius:30px;
}

.contact{
	padding: 40px;
	
	box-shadow: 0 5px 35px rgba(0,0,0,0.15);
background:rgba(0,0,0,0.7);}


.box{
	margin-top:-10px;
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
    grid-template-rows: 0fr 4fr;
    grid-template-areas:
    "form info"
   "form map";
   grid-gap:5px; 
	border-radius:30px;
	
}

.formBox{
	position: relative;
	width: 100%;
	
}
.formBox .row50{
	display: flex;
	gap: 20px;
	
}

.inputBox{
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
	width: 50%;
	
	
}

.inputBox input{
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
		background:#fff;
	
}
 
 .inputBox textarea{
 padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
	resize: none;
	min-height: 220px;
	margin-bottom: 10px;
	
 }
.submit input[type="submit"]{
	background: #ff578b;
	color:#fff;
	border: none;
	font-size: 1.1em;
	max-width: 120px;
	font-weight:500;
	cursor: pointer;
	padding: 14px 15px;
} 

.inputBox span{
	color: white;
}

@media (max-width:991px)
{
.contactUs
{
	padding:20px;
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "form"
        "info"
        "map";
} 
.formBox .row50 {
    display: flex;
    gap: 0px;
    flex-direction: column;
}
.inputBox {
    
    width: 100%;
}


}
























